.contact-list-page {
  background-color: #e7e7e7;
  height: 100vh;
}

.search-contacts {
  padding: 10px;
}

.contact-list {
  padding: 10px;
}

.contact-list-item {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  cursor: pointer;
}
